.mail{
    width: 100%;
    margin-top: 50px;
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
  .mailInputContainer{
    background-color: orange;
    padding: 0.3vw;
    border-radius: 10px;
  }
  .mailInputContainer>input{
    padding:1.5rem 8rem 1.5rem 1rem;
    border: none;
    font-size: 1.3rem;
  }
  .mailInputContainer>input:focus{
    outline: none;
  }
  .mailInputContainer>button{
    padding: 1rem 4rem ;
    background-color: transparent;
    border: none;
    cursor: pointer;
   font-size: 25px;
   color: white;
   
   text-transform: uppercase;
   transition: 0.3s ease-in-out;
  }
  .mailInputContainer>button:hover{
    letter-spacing: 5px;
    color: blue;
  }